
  
  .example-container {
    width: 320px;
    padding: 20px;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .content-placeholder {
    padding: 20px;
    transform-origin: top center;
  }

  .question {
    background-image: linear-gradient(to left, #00B0DC , #2c3842 0%);
    color: white;
    cursor: pointer;
    height: 60px;
    padding: 10px;
    @apply flex items-center;
  }


  .question:not(:last-child){
    @apply border-sec;
    border-bottom: 1px solid;
  }

  .active_question{
    background-image: linear-gradient(to left, #00B0DC , #2c3842 25%) !important;
    transition: all 200ms ;
  }

  
  .word {
    height: 18px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
    background: #E5E6E6;
    border-radius: 10px;
    display: inline-block;
  }
  
  .paragraph {
    margin-bottom: 20px;
  }
  
  @media (max-width: 600px) {
    .content-placeholder {
      padding-left: 20px;
    }
  
    .header .word {
      height: 30px;
    }
  
    .word {
      height: 14px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  
    .paragraph {
      margin-bottom: 20px;
    }
  }
  