@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --titleBold: 700;
  --PRegular: 400;
  --Bold: 600;
  --medium: 500;
  --ExtraBold: 800;
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}